---
extRefs:
  Cloud Automation:
    url: "{{ cloud_automation_bridge }}"
    creds:
    - description: API url
      type: text
      value: "{{ cloud_automation_endpoint | default(None) }}"
    - description: API token
      type: password
      value: "{{ cloud_automation_api_token | default(None) }}"
