apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - env-vars
  - ingress

patches:
  - path: ingress/frontendreverseproxy-patch.yml

  - target:
      group: apps
      version: v1
      kind: Deployment
      name: accountservice
    path: kubernetes-labels-patch.yml
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: aggregatorservice
    path: kubernetes-labels-patch.yml
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: broker-service
    path: kubernetes-labels-patch.yml
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: contentcreator
    path: kubernetes-labels-patch.yml
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: calculationservice
    path: kubernetes-labels-patch.yml
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: credit-card-order-service
    path: kubernetes-labels-patch.yml
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: db
    path: kubernetes-labels-patch.yml
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: engine
    path: kubernetes-labels-patch.yml
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: feature-flag-service
    path: kubernetes-labels-patch.yml
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: frontend
    path: kubernetes-labels-patch.yml
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: frontendreverseproxy
    path: kubernetes-labels-patch.yml
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: loadgen
    path: kubernetes-labels-patch.yml
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: loginservice
    path: kubernetes-labels-patch.yml
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: manager
    path: kubernetes-labels-patch.yml
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: offerservice
    path: kubernetes-labels-patch.yml
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: pricing-service
    path: kubernetes-labels-patch.yml
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: rabbitmq
    path: kubernetes-labels-patch.yml
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: third-party-service
    path: kubernetes-labels-patch.yml

images:
- name: europe-docker.pkg.dev/dynatrace-demoability/docker/easytrade/accountservice
  newTag: "{{ easytrade_image_tag }}"

- name: europe-docker.pkg.dev/dynatrace-demoability/docker/easytrade/aggregatorservice
  newTag: "{{ easytrade_image_tag }}"

- name: europe-docker.pkg.dev/dynatrace-demoability/docker/easytrade/broker-service
  newTag: "{{ easytrade_image_tag }}"

- name: europe-docker.pkg.dev/dynatrace-demoability/docker/easytrade/calculationservice
  newTag: "{{ easytrade_image_tag }}"

- name: europe-docker.pkg.dev/dynatrace-demoability/docker/easytrade/contentcreator
  newTag: "{{ easytrade_image_tag }}"

- name: europe-docker.pkg.dev/dynatrace-demoability/docker/easytrade/credit-card-order-service
  newTag: "{{ easytrade_image_tag }}"

- name: europe-docker.pkg.dev/dynatrace-demoability/docker/easytrade/db
  newTag: "{{ easytrade_image_tag }}"

- name: europe-docker.pkg.dev/dynatrace-demoability/docker/easytrade/engine
  newTag: "{{ easytrade_image_tag }}"

- name: europe-docker.pkg.dev/dynatrace-demoability/docker/easytrade/feature-flag-service
  newTag: "{{ easytrade_image_tag }}"

- name: europe-docker.pkg.dev/dynatrace-demoability/docker/easytrade/frontend
  newTag: "{{ easytrade_image_tag }}"

- name: europe-docker.pkg.dev/dynatrace-demoability/docker/easytrade/frontendreverseproxy
  newTag: "{{ easytrade_image_tag }}"

- name: europe-docker.pkg.dev/dynatrace-demoability/docker/easytrade/loadgen
  newTag: "{{ easytrade_image_tag }}"

- name: europe-docker.pkg.dev/dynatrace-demoability/docker/easytrade/loginservice
  newTag: "{{ easytrade_image_tag }}"

- name: europe-docker.pkg.dev/dynatrace-demoability/docker/easytrade/manager
  newTag: "{{ easytrade_image_tag }}"

- name: europe-docker.pkg.dev/dynatrace-demoability/docker/easytrade/offerservice
  newTag: "{{ easytrade_image_tag }}"

- name: europe-docker.pkg.dev/dynatrace-demoability/docker/easytrade/pricing-service
  newTag: "{{ easytrade_image_tag }}"

- name: europe-docker.pkg.dev/dynatrace-demoability/docker/easytrade/rabbitmq
  newTag: "{{ easytrade_image_tag }}"

- name: europe-docker.pkg.dev/dynatrace-demoability/docker/easytrade/third-party-service
  newTag: "{{ easytrade_image_tag }}"
