---
extRefs:
  Gitlab:
    url: "{{ ingress_protocol }}://gitlab.{{ ingress_domain }}"
    creds:
    - description: Username
      type: text
      value: "{{ gitlab_username }}"
    - description: Password
      type: password
      value: "{{ gitlab_password }}"
    - description: Token
      type: password
      value: "{{ gitlab_oauth_token | default(None) }}"
